/* Archive Sidebar */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.tvds_homes_archive_sidebar {
  background: #ffffff;
  padding: 15px;
  margin-top: 15px;
}

/* Single Sidebar */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.tvds_homes_sidebar .homes-widget {
  margin-bottom: 30px;
}

/* Widgets */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

// Homes Booking Form
.tvds_homes_booking_form {
  padding: 15px;
  background: #eeeeee;

  .error {
    color: #d9534f;
    margin-top: 5px;
  }

  h3 {
    margin-top: 0;
  }

  .tvds_homes_booking_form_group input, .tvds_homes_booking_form_group textarea {
    width: 100%;
    padding: 5px 10px;
  }

  .tvds_homes_booking_form_group button {
    width: 100%;
    padding: 5px 10px;
    background: #333333;
    border: none;
    color: #ffffff;
  }

  .tvds_homes_booking_form_group {
    margin-bottom: 10px;
  }
}




// Homes Filter Widget
.booking-widget.widget_tvds_booking_filter_widget {

  .tvds_homes_search_form_section {
    padding-bottom: 25px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 37px;
  }

  .tvds_homes_search_form_group {
    margin-bottom: 10px;
  }

  .tvds_homes_search_form_group.form_group_title h3 {
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 27px;
  }

  .btn-select, input {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
    border-radius: 0;
    text-align: left;
    line-height: 24px;
    border: 1px solid #eeeeee;
    background: #f8f8f8;
  }

  input[type="submit"]{
    background: #333333;
    color: #ffffff;
    position: relative;
    display: inline-block;
    -moz-border-radius: 25px;
    text-align: center;
    padding: 12px 24px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 14px;
    font-weight: 700;
    margin-top: 10px;
  }



  input[type="checkbox"]:not(:checked),
  input[type="checkbox"]:checked,
  input[type="radio"]:not(:checked),
  input[type="radio"]:checked {
    position: absolute;
    left: -9999px;
  }
  input[type="checkbox"]:not(:checked) + label,
  input[type="checkbox"]:checked + label,
  input[type="radio"]:not(:checked) + label,
  input[type="radio"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }

  input[type="checkbox"]:not(:checked) + label:before,
  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:not(:checked) + label:before,
  input[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 17px; height: 17px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
  }

  input[type="checkbox"]:not(:checked) + label:after,
  input[type="checkbox"]:checked + label:after,
  input[type="radio"]:not(:checked) + label:after,
  input[type="radio"]:checked + label:after {
    content: '\e815';
    position: absolute;
    left: 1px;
    font-size: 22px;
    line-height: 0.8;
    color: #333333;
    transition: all .2s;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
  }

  input[type="checkbox"]:not(:checked) + label:after,
  input[type="radio"]:not(:checked) + label:after{
    opacity: 0;
    transform: scale(0);
  }

  input[type="checkbox"]:checked + label:after,
  input[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  input[type="checkbox"]:disabled:not(:checked) + label:before,
  input[type="checkbox"]:disabled:checked + label:before,
  input[type="radio"]:disabled:not(:checked) + label:before,
  input[type="radio"]:disabled:checked + label:before{
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }

  input[type="checkbox"]:disabled:checked + label:after,
  input[type="radio"]:disabled:checked + label:after {
    color: #999;
  }

  input[type="checkbox"]:disabled + label,
  input[type="radio"]:disabled + label {
    color: #aaa;
  }

  input[type="checkbox"]:checked:focus + label:before,
  input[type="checkbox"]:not(:checked):focus + label:before,
  input[type="radio"]:checked:focus + label:before,
  input[type="radio"]:not(:checked):focus + label:before{
    border: 1px dotted blue;
  }

  .btn-default.focus, .btn-default:focus {
    border: none;
  }

  .btn-select ul {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-top: 0;
    color: #000;
    list-style: none;
    padding: 0;
    margin: 0;
    left: -1px;
    right: -1px;
    top: 45px;
    z-index: 999;
  }

  .btn-select ul li {
    padding: 5px 10px;
    text-align: left;
  }

  .btn-select ul li:hover, .btn-select ul li.selected {
    background-color: #F9F8F7;
  }

  .btn-select:hover, .btn-select.active {
    background-color: #F9F8F7;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn-select-value {
    color: #999999;
  }

  .btn-select-value.selected {
    color: #000;
  }

  .btn-select-arrow {
    top: 5px;
  }
}